div#pageContents {
/*      margin-top: 170px; */
        margin-top: 20px;
        margin-left: 10px;
}

body    {font-family: Verdana, Arial, Helvetica, sans-serif;
         font-size: 10pt; 
         width: 1200px;
         background: #878484;
}

td, th {
font-size: 75%
}

#mainContainer {
        width: 1200px;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 10%;
        background: #E2E2E2;
}

div#pageContents div#navigation {
        float: left;
        width: 160px;

        min-width: 160px;
/*      margin-top: -5px; */
        margin-top: 0px;
        margin-right: 20px;
        padding-left: 2%; 
        padding-bottom: 70%;
        font-size:11pt;
/*      background-image:url('/images/menubg.png'); */
        min-height: 800px; 
/*      background: #cecbcb; */
}
div#pageContents div#navigation ul#level1 {
        color: #006600;
/*        text-shadow: 1px 2px #787878; */
        list-style: none;
        padding: 0;
        margin: 20px 5px 0 5px;
        font-size: 1em !important;
}

div#pageContents div#navigation ul#level2 {
        color: #006600;
        list-style: none;
        text-shadow: none;
        padding: 0;
/*      margin: 0 5px 0 10px; */
        margin: 0 5px 0 5px;
        font-size: 0.85em !important;
}

div#pageContents div#navigation ul#level1 li {
        color: #006600;
        line-height: 1.5em !important;
        font-weight: bold;
}

div#pageContents div#navigation ul#level2 li {
        margin-top: 3px;
        margin-bottom: 3px;
}
#datacontainer
{
/*      margin: 0 auto;*/
        width: 800px;
        min-width: 800px;
       padding: 0.5%; 
}
#dataContainer
{
/*      margin: 0 auto; */
        margin-left: 190px;
        margin-right: 300px;
        font-size:10pt;
        background: #ecf9f2;
        width: 950px;
}
